<ul class="nav nav-list">
    <li class="active"><a href="/category/570-get-started">Get Started<i class="icon-arrow"></i></a></li>
    <li><a href="/category/571-level-up">Level Up<i class="icon-arrow"></i></a></li>
    <li><a href="/category/572-supercharge-your-team">Supercharge Your Team<i class="icon-arrow"></i></a></li>
    <li><a href="/category/433-account-setup-and-management">Account Setup<i class="icon-arrow"></i></a></li>
    <li><a href="/category/434-billing">Billing<i class="icon-arrow"></i></a></li>
    <li><a href="/category/436-troubleshooting">Support<i class="icon-arrow"></i></a></li>
    <li><a href="/category/438-features">Features<i class="icon-arrow"></i></a></li>
    <li><a href="/category/440-integrations">Integrations<i class="icon-arrow"></i></a></li>
    <li><a href="/category/439-mobile">Use Cases<i class="icon-arrow"></i></a></li>
</ul>