<div class="background">
  <div class="blue"></div>
  <div class="pink"></div>
</div>

<section id="contentArea" class="container-fluid">
    <div class="row-fluid">
        <section id="main-content" class="span9">
            <div class="contentWrapper">
                <h1>Oops!</h1>

                {{#is error 'unauthorized'}}
                    <h2>{{link 'sign_in'}}</h2>
                {{/is}}

                {{#is error 'forbidden'}}
                    <h2>{{t 'not_authorized'}}</h2>
                {{/is}}

                {{#is error 'not_found'}}
                    <h2>The page you were looking for doesn't exist.</h2>
                    <p>You may have mistyped the address or the page may have moved.</p>
                {{/is}}

                <a title="Home" href="/hc/en-us">
                    Take me back to the home page.
                </a>
            </div>
        </section>
        <aside id="sidebar" class="span3">
            {{search instant=settings.instant_search class='search search-full sidebar-search sm' submit=true}}
        </aside>
    </div>
</section>
