<header class="header">
    <nav class="navbar">
        <div class="navbarContent">
            <div class="navbarLeft">
                <div class="navbarWordmark"><a href="https://superhuman.com/"><img
                            src="{{settings.logo}}"
                            alt="Superhuman wordmark"></a></div>
            </div>
            <div class="navbarRight"><a class="navbarHomeLink" href="/">
                    <div>Help Center Home</div>
                </a></div>
        </div>
    </nav>
</header>